<template>
  <div />
</template>


<script>
import axios from 'axios';

export default {
  name: "Home",
  mounted() {
    axios.defaults.headers.common["Authorization"] = localStorage.getItem("token");
    axios.get("http://localhost:8080/api/users",{
      email: "verdeymeremy@gmail.com"
    }).then(function (reponse) {
      console.log(reponse);
    });
  }
};
</script>