<template>
  <div class="sponsorship__page">
    <transition name="fade">
      <div
        v-if="load"
        class="loading-spinner"
      />
    </transition>
    <div
      v-if="!load"
      class="parrains"
    >
      <div class="title">
        Parrains
        <button
          :class="{ active: showSearchParrain }"
          @click="toggleParrain()"
        >
          <img src="../../img/plus.svg">
          Ajouter un parrain
        </button>
      </div>
      <transition name="fade-top">
        <div
          v-if="showSearchParrain"
          class="search"
        >
          <input
            v-model="textSearchParrain"
            type="text"
            placeholder="Rechercher un nouveau parrain"
            @input="filterParrain()"
          >
          <div class="result">
            <span
              v-for="item in filterSearchParrain"
              :key="item.id"
              @click="pushToParrain(item)"
            >
              <img
                class="profile"
                src="../../img/profile.jpg"
              >
              {{ item.prenom }}
            </span>
          </div>
        </div>
      </transition>
      <div class="users">
        <div
          v-for="item in parrains"
          :key="item.id"
          class="user"
        >
          <img
            class="profile"
            src="../../img/profile.jpg"
          >
          <span class="prenom"> {{ item.prenom + " " + item.nom }} </span>
          <span class="competence"> Développpeur </span>
        </div>
      </div>
    </div>
    <div
      v-if="!load"
      class="filleuls"
    >
      <div class="title">
        Filleuls
        <button
          :class="{ active: showSearchFilleul }"
          @click="toggleFilleul()"
        >
          <img src="../../img/plus.svg">
          Ajouter un filleul
        </button>
      </div>
      <transition name="fade-top">
        <div
          v-if="showSearchFilleul"
          class="search"
        >
          <input
            v-model="textSearchFilleul"
            type="text"
            placeholder="Rechercher un nouveau filleul"
            @input="filterFilleul()"
          >
          <div class="result">
            <span
              v-for="item in filterSearchFilleul"
              :key="item.id"
              @click="pushToFilleul(item)"
            >
              <img
                class="profile"
                src="../../img/profile.jpg"
              >
              {{ item.prenom }}
            </span>
          </div>
        </div>
      </transition>
      <div class="users">
        <div
          v-for="item in filleuls"
          :key="item.id"
          class="user"
        >
          <img
            class="profile"
            src="../../img/profile.jpg"
          >
          <span class="prenom"> {{ item.prenom + " " + item.nom }} </span>
          <span class="competence"> Développpeur </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: "Ranking",
  data() {
    return {
      parrains: [],
      filleuls: [],
      resultSearchParrain: [],
      filterSearchParrain: [],
      resultSearchFilleul: [],
      filterSearchFilleul: [],
      load: true,
      showSearchParrain: false,
      textSearchParrain: null,
      showSearchFilleul: false,
      textSearchFilleul: null
    }
  },
  mounted() {
    var self = this;
    axios.defaults.headers.common["Authorization"] = localStorage.getItem("token");
    axios.get("/api/users/" + localStorage.getItem("id")).then(function (reponse) {
      self.load = false;
      self.parrains = reponse.data.parrains;
      self.filleuls = reponse.data.filleuls;
    });
  },
  methods: {
    toggleParrain() {
      this.showSearchParrain = !this.showSearchParrain;
      this.textSearchParrain = null
      if (this.showSearchParrain) {
        this.searchParrain();
      }
    },
    searchParrain() {
      var self = this;
      axios.defaults.headers.common["Authorization"] = localStorage.getItem("token");
      axios.get("/api/users").then(function (reponse) {
        self.resultSearchParrain = [];
        reponse.data['hydra:member'].forEach( element => {
          if(element.roles.includes("ROLE_AGENT") && element.id !== localStorage.getItem('id')){
            self.resultSearchParrain.push(element);
            self.filterSearchParrain.push(element);
          }
        });
      });
    },
    filterParrain() {
      var self = this;
      self.filterSearchParrain = self.resultSearchParrain.filter(function(element) {
        if (element.nom.toUpperCase().includes(self.textSearchParrain.toUpperCase()) || element.prenom.toUpperCase().includes(self.textSearchParrain.toUpperCase())) {
          return true;
        } else {
          return false;
        }
      });
    },
    pushToParrain(item) {
      this.parrains.push(item);
      this.toggleParrain();
    },
    toggleFilleul() {
      this.showSearchFilleul = !this.showSearchFilleul;
      this.textSearchFilleul = null
      if (this.showSearchFilleul) {
        this.searchFilleul();
      }
    },
    searchFilleul() {
      var self = this;
      axios.defaults.headers.common["Authorization"] = localStorage.getItem("token");
      axios.get("/api/users").then(function (reponse) {
        self.resultSearchFilleul = [];
        reponse.data['hydra:member'].forEach( element => {
          if(element.roles.includes("ROLE_AGENT") && element.id !== localStorage.getItem('id')){
            self.resultSearchFilleul.push(element);
            self.filterSearchFilleul.push(element);
          }
        });
      });
    },
    filterFilleul() {
      var self = this;
      self.filterSearchFilleul = self.resultSearchFilleul.filter(function(element) {
        if (element.nom.toUpperCase().includes(self.textSearchFilleul.toUpperCase()) || element.prenom.toUpperCase().includes(self.textSearchFilleul.toUpperCase())) {
          return true;
        } else {
          return false;
        }
      });
    },
    pushToFilleul(item) {
      this.filleuls.push(item);
      this.toggleFilleul();
    },
  }
}
</script>