<template>
  <div class="profile__page">
    <transition name="fade">
      <div
        v-if="loadPage"
        class="loading-spinner"
      />
    </transition>
    <div
      v-if="loadPage == false"
      class="profile"
    >
      <img
        class="profilePic"
        src="../../img/profile.jpg"
      >
      <div class="rowProfile">
        <div class="colProfile">
          <input
            id="signup-email"
            v-model="email"
            type="email"
            placeholder="E-Mail"
            autocomplete="off"
          >
          <input
            id="password"
            v-model="password"
            type="password"
            name="signup-password"
            placeholder="Mot de passe"
          >
          <input
            id="prenom"
            v-model="prenom"
            type="text"
            name="signup-prenom"
            placeholder="Prénom"
          >
          <input
            id="brithday"
            v-model="birthday"
            type="text"
            name="brithday"
            placeholder="Date de naissance"
          >
        </div>
        <div class="colProfile">
          <input
            id="telephone"
            v-model="telephone"
            type="text"
            name="signup-telephone"
            placeholder="Téléphone"
          >
          <input
            id="confirm-password"
            v-model="confirmPassword"
            type="password"
            name="signup-confirm-password"
            placeholder="Confirmation du mot de passe"
          >
          <input
            id="nom"
            v-model="nom"
            type="text"
            name="signup-nom"
            placeholder="Nom"
          >
          <select
            id="sexe"
            v-model="sexe"
            name="signup-sexe"
          >
            <option value="H">
              Homme
            </option>
            <option value="F">
              Femme
            </option>
            <option value="A">
              Autre
            </option>
          </select>
        </div>
      </div>
      <input
        id="description"
        v-model="description"
        type="description"
        name="description"
        placeholder="description"
      >
      <button 
        :class="{ loading: load }"
        @click="submit()"
      >
        <span> METTRE À JOUR </span>
      </button>
    </div>
  </div>
</template>


<script>
import axios from 'axios';

export default {
  name: "Profile",
  data() {
    return {
      nom: null,
      prenom: null,
      email: null,
      password: null,
      sexe: null,
      telephone: null,
      description: null,
      birthday: null,
      loadPage: true,
      load: false
    }
  },
  mounted() {
    let self = this;
    axios.defaults.headers.common["Authorization"] = localStorage.getItem("token");
    axios.get("/api/users/" + localStorage.getItem("id")).then(function (reponse) {
      self.loadPage = false;
      self.nom = reponse.data.nom;
      self.prenom = reponse.data.prenom;
      self.email = reponse.data.email;
      self.sexe = reponse.data.sexe;
      self.telephone = reponse.data.telephone;
      self.description = reponse.data.description;
      self.birthday = reponse.data.dateNaissance;
    });
  },
  methods: {
    submit() {
      if (this.load == false) {
        this.load = true;
        let self = this;
        axios.defaults.headers.common["Authorization"] = localStorage.getItem("token");
        axios.put("/api/users/" + localStorage.getItem("id"), {
          "nom": this.nom,
          "prenom": this.prenom,
          "email": this.email,
          "plainPassword": this.password,
          "sexe": this.sexe,
          "telephone": this.telephone,
          "description": this.description,
          "dateNaissance": this.birthday
        }).then(function() {
          self.load = false;
        }).catch(function() {
          self.load = false;
        });
      }
    }
  }
};
</script>