<template>
  <div class="project__page">
    <transition name="fade">
      <div
        v-if="load"
        class="loading-spinner"
      />
    </transition>
    <div
      v-for="(item, index) in items"
      :key="item.id"
      class="project"
    >
      <img
        v-if="index % 5 == 1 && index % 2 == 0"
        class="profile left"
        src="../../img/picto1.svg"
      >
      <img
        v-if="index % 5 == 2 && index % 2 == 0"
        class="profile left"
        src="../../img/picto2.svg"
      >
      <img
        v-if="index % 5 == 3 && index % 2 == 0"
        class="profile left"
        src="../../img/picto3.svg"
      >
      <img
        v-if="index % 5 == 0 && index % 2 == 0"
        class="profile left"
        src="../../img/picto4.svg"
      >
      <img
        v-if="index % 5 == 4 && index % 2 == 0"
        class="profile left"
        src="../../img/picto5.svg"
      >
      <div class="side">
        <span class="name__date">
          <span class="name">
            {{ item.intitule }} -
            <span
              v-if="index % 4 == 0"
              class="stack"
            >
              Design Web
            </span>
            <span
              v-if="index % 4 == 1"
              class="stack"
            >
              Développement Web
            </span>
            <span
              v-if="index % 4 == 2"
              class="stack"
            >
              Digital Marketing
            </span>
            <span
              v-if="index % 4 == 3"
              class="stack"
            >
              Référencement SEO
            </span>
          </span>
          <span class="date">
            {{ item.dateDebut | moment("DD/MM/YYYY") }}
          </span>
        </span>
        <span class="description">
          {{ item.description }}
        </span>
      </div>
      <img
        v-if="index % 5 == 1 && index % 2 == 1"
        class="profile right"
        src="../../img/picto1.svg"
      >
      <img
        v-if="index % 5 == 2 && index % 2 == 1"
        class="profile right"
        src="../../img/picto2.svg"
      >
      <img
        v-if="index % 5 == 3 && index % 2 == 1"
        class="profile right"
        src="../../img/picto3.svg"
      >
      <img
        v-if="index % 5 == 0 && index % 2 == 1"
        class="profile right"
        src="../../img/picto4.svg"
      >
      <img
        v-if="index % 5 == 4 && index % 2 == 1"
        class="profile right"
        src="../../img/picto5.svg"
      >
    </div>
  </div>
</template>


<script>
import axios from 'axios';

export default {
  name: "Projects",
  data() {
    return {
      items: [],
      load: true
    }
  },
  mounted() {
    var self = this;
    axios.defaults.headers.common["Authorization"] = localStorage.getItem("token");
    axios.get("/api/projets?etat=En cours&equipe.id="+ localStorage.getItem("id")).then(function (reponse) {
      self.load = false;
      reponse.data['hydra:member'].forEach(element => {
        self.items.push(element);
      });
    });
  }
};
</script>