<template>
  <div class="public__page"> 
    <div class="logo">
      <div>
        <span>
          LES AGENTS
        </span>
        <span>
          DU WEB
        </span>
      </div>
      <router-link
        id="buttonHeader"
        tag="div"
        to="/signin"
      >
        Nous rejoindre
      </router-link>
    </div>
    <div
      id="header"
      class="feuilles"
    >
      <img src="../../img/header.svg">
      <div class="button__header">
        <router-link
          tag="div"
          to="/signin"
        >
          Nous rejoindre
        </router-link>
      </div>  
    </div>
    <div
      id="triggerFeuilles"
      class="feuilles"
    >
      <img src="../../img/feuille1.svg">
      <div
        id="feuille1"
        class="text__feuille"
      >
        <!-- <span class="title"> Lorem ipsum </span> -->
        Les Agents du Web est une plate-forme freelance qui a pour but de former des prestataires aux méthodes 148. De cette façon, l’agence 148 pourra attribuer des projets digitaux de qualité à des agents en assurant aux clients un livrable correspondant à leur demande.
      </div>
    </div>
    <div class="feuilles">
      <img src="../../img/feuille2.svg">
      <div
        id="feuille2"
        class="text__feuille right"
      >
        <!-- <span class="title"> Lorem ipsum </span> -->
        Le partage de nos connaissances est essentiel. En effet, malgré le fait que nos prestataires ne soient pas présents physiquement, nous apportons une importance primordiale à l’humain notamment avec la possibilité de réserver des espaces de coworking
      </div>
    </div>
    <div
      id="SM"
      class="feuilles"
    >
      <img src="../../img/feuille3.svg">
      <div
        id="feuille3"
        class="text__feuille"
      >
        <!-- <span class="title"> Lorem ipsum </span> -->
        Nous nous préoccupons beaucoup du bien-être de nos collaborateurs et de nos clients.
        Les prestataires sont sélectionnés via des entretiens physiques afin de valider leurs compétences et pouvoir les imprégner des valeurs de l’agence 148.
        Les projets sont sélectionnés en fonction de la pertinence et de la clarté des briefs, et seuls les plus intéressants pour les prestataires seront sélectionnés.
      </div>
    </div>
    <div id="triggerSM" />
    <div class="feuilles">
      <img src="../../img/feuille4.svg">
      <div
        id="feuille4"
        class="text__feuille right"
      >
        <!-- <span class="title"> Lorem ipsum </span> -->
        Les Agents du Web est une communauté de freelances basée sur l’entraide et la solidarité avec la possibilité de créer des équipes. Ainsi, il nous est essentiel de donner aux membres des projets pertinents et qualitatifs et de les rémunérer à leur juste valeur.
      </div>
    </div>
    <div class="footer">
      <span class="link">CONDITION D'UTILISATION</span>
      <span class="link">2020 - Agence 148</span>
    </div>
  </div>
</template>

<script>

export default {
  name: "PublicPage",
  mounted() {  
    const scene2 = this.$scrollmagic.scene({
      triggerElement: '#feuille2',
      triggerHook: 0.7,
    }).setTween('#feuille2', 0.3, { 
      css: { 
        transform: 'translatex(0)',
        opacity: 1
      }
    })
    const scene3 = this.$scrollmagic.scene({
      triggerElement: '#feuille3',
      triggerHook: 0.7,
    }).setTween('#feuille3', 0.3, { 
      css: { 
        transform: 'translatex(0)',
        opacity: 1
      }
    })
    const scene4 = this.$scrollmagic.scene({
      triggerElement: '#feuille4',
      triggerHook: 0.7,
    }).setTween('#feuille4', 0.3, { 
      css: { 
        transform: 'translatex(0)',
        opacity: 1
      }
    })
    const scene5 = this.$scrollmagic.scene({
      triggerElement: '#triggerFeuilles',
      triggerHook: 0.1,
    }).setTween('#buttonHeader', 0.3, { 
      css: { 
        transform: 'translatex(0)',
        opacity: 1
      }
    });
  
    // Add Scene to controller
    this.$scrollmagic.addScene([scene2, scene3, scene4, scene5]);
  }
};
</script>