<template>
  <div class="ranking__page">
    <div class="title--page">
      LE CLASSEMENT
    </div>
    <transition name="fade">
      <div
        v-if="load"
        class="loading-spinner"
      />
    </transition>
    <div
      v-for="item in items"
      :key="item.id"
      class="user"
    >
      <img
        class="profile left"
        src="../../img/profile.jpg"
      >
      <div class="side">
        <span class="name__date">
          <span class="name">
            {{ item.prenom + " " + item.nom }}
          </span>
          <span class="date">
            <a :href="'mailto:' + item.email">
              envoyer un e-mail
            </a>
          </span>
        </span>
        <span class="description">
          {{ item.description }}
        </span>
      </div>
    </div>
  </div>
</template>


<script>
import axios from 'axios';

export default {
  name: "Ranking",
  data() {
    return {
      items: [],
      load: true
    }
  },
  mounted() {
    var self = this;
    axios.defaults.headers.common["Authorization"] = localStorage.getItem("token");
    axios.get("/api/users").then(function (reponse) {
      self.load = false;
      reponse.data['hydra:member'].forEach( element => {
        if(element.roles.includes("ROLE_AGENT")){
          self.items.push(element);
        }
      });
    });
  }
}
</script>