<template>
  <div class="signin__page">
    <router-link
      id="logo"
      tag="div"
      to="/"
      class="logo active"
    >
      <span>
        LES AGENTS
      </span>
      <span>
        DU WEB
      </span>
    </router-link>
    <div
      id="signin"
      class="block"
      @click="showConnect()"
    >
      <div
        class="title"
      >
        CONNEXION
      </div>
      <div
        class="close"
        @click.stop
        @click="showAll()"
      >
        X
      </div>
      <input
        id="email"
        v-model="email"
        type="email"
        name="email"
        placeholder="E-Mail"
      >
      <input
        v-model="password"
        type="password"
        name="password"
        placeholder="Mot de passe"
      >
      <button
        :class="{ loading: load }"
        @click="submit()"
      >
        <span> SE CONNECTER </span>
      </button>
    </div>
    <div
      id="signup"
      class="block"
      @click="showInscip()"
    >
      <div
        class="title"
      >
        INSCRIPTION
      </div>
      <div
        class="close"
        @click.stop
        @click="showAll()"
      >
        X
      </div>
      <div class="rowSignin">
        <div class="colSignin">
          <input
            id="signup-email"
            v-model="email"
            type="email"
            placeholder="E-Mail"
            autocomplete="off"
          >
          <input
            id="password"
            v-model="password"
            type="password"
            name="signup-password"
            placeholder="Mot de passe"
          >
          <input
            id="prenom"
            v-model="prenom"
            type="text"
            name="signup-prenom"
            placeholder="Prénom"
          >
          <select
            id="roles"
            v-model="roles"
            name="signup-roles"
          >
            <option value="ROLE_AGENT">
              Agent
            </option>
            <option value="ROLE_CLIENT">
              Client
            </option>
          </select>
        </div>
        <div class="colSignin">
          <input
            id="telephone"
            v-model="telephone"
            type="text"
            name="signup-telephone"
            placeholder="Téléphone"
          >
          <input
            id="confirm-password"
            v-model="confirmPassword"
            type="password"
            name="signup-confirm-password"
            placeholder="Confirmation du mot de passe"
          >
          <input
            id="nom"
            v-model="nom"
            type="text"
            name="signup-nom"
            placeholder="Nom"
          >
          <select
            id="sexe"
            v-model="sexe"
            name="signup-sexe"
          >
            <option value="H">
              Homme
            </option>
            <option value="F">
              Femme
            </option>
            <option value="A">
              Autre
            </option>
          </select>
        </div>
      </div>
      <input
        id="description"
        v-model="description"
        type="text"
        name="signup-description"
        placeholder="Description"
      >
      <button 
        :class="{ loading: load }"
        @click="submitSignup()"
      >
        <span> ENVOYER MA CANDIDATURE </span>
      </button>
    </div>
    <img
      id="feuilles"
      class="feuilles"
      src="../../img/sign.svg"
    >
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: "Signin",
  data() {
    return {
      email: null,
      password: null,
      confirmPassword: null,
      roles: 'ROLE_AGENT',
      nom: null,
      prenom: null,
      sexe: 'H',
      telephone: null,
      description: null,
      load: false
    } 
  },
  mounted() {
    localStorage.setItem('token', "");
  },
  methods: {
    submitSignup() {
      if (this.load == false) {
        this.load = true;
        let self = this;
        axios.post("http://localhost:8080/api/users",{
          "email": this.email,
          "roles": [this.roles],
          "plainPassword": this.password,
          "nom": this.nom,
          "prenom": this.prenom,
          "sexe": this.sexe,
          "telephone": this.telephone,
          "description": this.description,
          "isVerified": false
        }).then(function (reponse) {
          self.load = false;
          localStorage.setItem('token', reponse.data.token);
          let payload = reponse.data.token.split(".")[1];
          localStorage.setItem('id', JSON.parse(atob(payload)).id);
          self.$router.push('projects');
        }).catch(function() {
          self.load = false;
        });
      }
    },
    submit() {
      if (this.load == false) {
        this.load = true;
        let self = this;
        axios.post("http://localhost:8080/login_check",{
          "email": this.email,
          "password": this.password
        }).then(function (reponse) {
          self.load = false;
          localStorage.setItem('token', reponse.data.token);
          let payload = reponse.data.token.split(".")[1];
          localStorage.setItem('id', JSON.parse(atob(payload)).id);
          localStorage.setItem('roles', JSON.parse(atob(payload)).roles);
          if (localStorage.getItem('roles').includes('ROLE_AGENT')) {
            self.$router.push('projects');
          } else {
            self.$router.push('ranking');
          }
        }).catch(function() {
          self.load = false;
        });
      }
    },
    showConnect() {
      let signin = document.getElementById('signin');
      let signup = document.getElementById('signup');
      signup.classList.remove('active');
      signup.classList.add('hide');
      signin.classList.add('active');
      signin.classList.remove('hide');
      document.getElementById('feuilles').classList.add('active');
      document.getElementById('logo').classList.remove('active');
    },
    showInscip() {
      let signin = document.getElementById('signin');
      let signup = document.getElementById('signup');
      signup.classList.add('active');
      signup.classList.remove('hide');
      signin.classList.remove('active');
      signin.classList.add('hide');
      document.getElementById('feuilles').classList.add('active');
      document.getElementById('logo').classList.remove('active');
    },
    showAll() {
      let signin = document.getElementById('signin');
      let signup = document.getElementById('signup');
      signup.classList.remove('active');
      signup.classList.remove('hide');
      signin.classList.remove('active');
      signin.classList.remove('hide');
      document.getElementById('feuilles').classList.remove('active');
      document.getElementById('logo').classList.add('active');
    } 
  }
}
</script>