
// Color
@import "components/color";
// PublicPage
@import "components/publicPage";
// Header
@import "components/header";
// Signin
@import "components/signin";
// Ranking
@import "components/ranking";
// Projects
@import "components/projects";
// Profile
@import "components/profile";
// Sponsorship
@import "components/sponsorship";

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s ease;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.loading-spinner {
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    margin: auto;
    width: 30px !important;
    height: 30px;
    animation: spinner 1s infinite cubic-bezier(.65,-1.15,.3,1.5);
    border: 2px #000 solid;

    @keyframes spinner {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(90deg);
        }
    }
}

.title--page {
    font-size: 72px;
    font-family: 'Quicksand';
    font-weight: 700;
    text-align: center;
}