.header {
    padding-top: 124px;
    background: #fff;
    .logo__menu {
        background: #fff;
        position: fixed;
        height: 124px;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        .border--menu {
            height: 0;
            width: 100vw;
            background: $blue;
        }
    }
    .logo {
        width: 200px;
        height: 70px;
        margin: auto;
        cursor: pointer;
        z-index: 2;
        &:hover {
            &>:first-child {
                letter-spacing: 3px;
            }
            &>:last-child {
                letter-spacing: 7px;
            }
        }
        &>:first-child {
            font-weight: 700;
            top: 5px;
            font-size: 26px;
        }
        &>:last-child {
            top: 36px;
            font-size: 16px;
            font-weight: lighter;
            letter-spacing: 5px;
        }
        &>span {
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            margin: auto;
            width: max-content;
            font-family: 'Roboto';
            transition: all .3s ease;
        }
    } 
    .menu {
        left: 0;
        right: 0;
        display: flex;
        padding: 0 100px 10px;
        font-family: 'Quicksand';
        font-weight: 700;
        z-index: 2;
        .nav {
            margin: 10px auto;
            transition: all .3s ease;
            cursor: pointer;
            flex: 1;
            text-align: center;
            display: block;
            &:hover {
                transform: scale(1.1);
            }
            &.active {
                color: $blue;
            }
        }
    }
    .feuilles {
        width: 100vw;
        z-index: 1;
    }
}

.myspace {
    .menu {
        left: 0;
        right: 0;
        display: flex;
        padding: 0 350px 30px;
        font-family: 'Quicksand';
        font-weight: 700;
        z-index: 2;
        .nav {
            margin: 10px auto;
            transition: all .3s ease;
            cursor: pointer;
            flex: 1;
            text-align: center;
            display: block;
            &:hover {
                transform: scale(1.1);
            }
            &.active {
                color: $blue;
            }
        }
    }
}

.footer {
    position: relative;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 12px;
    &>:last-child {
        text-align: right;
    }
    &>span {
        flex: 1;
        letter-spacing: 3px;
        transition: all .3s ease;
        cursor: pointer;
        &:hover {
            letter-spacing: 4px;
        }
    }
    .link {
        position: absolute;
        color: #fff;
    }
    &>:first-child {
        bottom: 20px;
        left: 150px;
    }
    &>:nth-child(2) {
        bottom: 20px;
        right: 150px;
    }
}

.page {
    min-height: 100vh;
}