.profile__page {
    min-height: calc(100vh - 250px);
    padding: 10px 250px 100px;
    position: relative;
    .profile {
        border: #000 2px solid;
        display: flex;
        flex-direction: column;
        width: 50%;
        max-width: 600px;
        margin: auto;
        .profilePic {
            margin: 15px auto;
            width: 140px;
            height: 140px;
            border-radius: 70px;
            border: 2px solid $blue;
        }
        input,
        select {
            margin: 20px auto;
            background: none;
            border: none;
            border-bottom: $blue solid 2px;
            font-weight: 700;
            width: 80%;
        }
        .rowProfile {
            display: flex;
            .colProfile {
                display: flex;
                flex-direction: column;
                flex: 1;
            }
        }
        &>button {
            margin: 20px auto 30px;
            border: #000 2px solid;
            padding: 10px;
            background: none;
            font-weight: 700;
            transition: all .3s ease;
            width: 160px;
            height: 48px;
            &>span {
                display: block;
                transition: all .3s ease;
                overflow: hidden;
                white-space: nowrap;
            }
            &.loading {
                margin-top: 69px;
                width: 30px !important;
                height: 30px;
                animation: spinner 1s infinite cubic-bezier(.65,-1.15,.3,1.5);

                @keyframes spinner {
                    0% {
                        transform: rotate(0);
                    }
                    100% {
                        transform: rotate(90deg);
                    }
                }
                &>span {
                    // transform: scaleX(0);
                    width: 0;
                }
            }
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}
