.project__page {
    min-height: calc(100vh - 250px);
    padding: 10px 250px 100px;
    position: relative;
    .project {
        height: 200px;
        width: 100%;
        display: flex;
        margin: auto;
        .profile {
            margin-top: 10px;
            height: 180px;
            &.right {
                margin-left: auto;
                margin-right: 0;
            }
            &.left {
                margin-left: 0;
                margin-right: auto;
            }
        }
        .side {
            display: flex;
            flex-direction: column;
            padding: 20px 0;
            .name__date {
                position: relative;
                display: flex;
                flex-direction: column;
                .name {
                    display: block;
                    min-width: 200px;
                    overflow-y: auto;
                    padding: 0 20px;
                    color: $blue;
                }
                .date {
                    display: block;
                    min-width: 250px;
                    overflow-y: auto;
                    padding: 0 20px;
                    color: $blue;
                }
            }
            .description {
                overflow-y: auto;
                padding: 20px;
            }
        }
    }
}