.public__page {
    .logo {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 70px;
        margin: auto;
        z-index: 2;
        background: #fff;
        &>div {
            cursor: pointer;
            &>span {
                position: absolute;
                display: block;
                left: 0;
                right: 0;
                margin: auto;
                width: max-content;
                font-family: 'Roboto';
                transition: all .3s ease;
            }
            &>:first-child {
                font-weight: 700;
                top: 5px;
                font-size: 26px;
            }
            &>:last-child {
                top: 36px;
                font-size: 16px;
                font-weight: lighter;
                letter-spacing: 5px;
            }
            &:hover {
                &>:first-child {
                    letter-spacing: 3px;
                }
                &>:last-child {
                    letter-spacing: 7px;
                }
            }
        }
        &>#buttonHeader {
            position: absolute;
            margin: auto 25px auto auto;
            padding: 5px 20px;
            width: max-content;
            font-size: 20px;
            font-family: 'Quicksand';
            font-weight: 700;
            cursor: pointer;
            transition: all .3s ease;
            transform: translateX(100px);
            opacity: 0;
            right: 110px;
            top: 15px;
            background: $blue;
            color: #fff;
            &:hover {
                letter-spacing: 2px;
            }
        }
    } 
    &>img {
        margin: 0 110px;
    }
    &>.feuilles {
        margin: 0 110px;
        position: relative;
        overflow: hidden;
        .button__header {
            position: absolute;
            display: flex;
            height: 100%;
            width: 100%;
            top: 0;
            &>div {
                margin: auto 25px auto auto;
                padding: 20px;
                background: #fff;
                width: max-content;
                font-size: 20px;
                font-family: 'Quicksand';
                font-weight: 700;
                cursor: pointer;
                transition: all .3s ease;
                &:hover {
                    transform: translateX(-10px);
                }
            }
        }
        &>.text__feuille {
            &.right {
                margin-left: 55%;
                padding-left: 0;
                padding-right: 30px;
                transform: translateX(100px);
            }
            &>.title {
                display: block;
                font-size: 20px;
                margin-bottom: 10px;
            }
            &#feuille1 {
                transform: translateX(0);
                opacity: 1;
            }
            position: absolute;
            top: 0;
            font-family: 'Quicksand';
            font-weight: 700;
            font-size: 18px;
            width: 45%;
            padding: 50px 0;
            padding-right: 0;
            padding-left: 30px;
            transform: translateX(-100px);
            transition: all .3s ease;
            opacity: 0;
        }
    }
    .footer {
        font-family: 'Quicksand';
        font-weight: 700;
        height: 60px;
        display: flex;
        margin: 0 110px;;
        font-size: 12px;
        padding-top: 20px;
        &>:last-child {
            text-align: right;
        }
        &>span {
            flex: 1;
            letter-spacing: 3px;
            transition: all .3s ease;
            cursor: pointer;
            color: $blue !important;
            &:hover {
                letter-spacing: 4px;
            }
        }
    }

    
}