.ranking__page {
    min-height: calc(100vh - 250px);
    padding: 10px 250px 100px;
    position: relative;
    .user {
        height: 200px;
        width: 100%;
        display: flex;
        margin: auto;
        .profile {
            margin-top: 10px;
            height: 150px;
            border-radius: 75px;
            border: 2px solid $blue;
        }
        .side {
            display: flex;
            flex-direction: column;
            padding: 20px 0;
            .name__date {
                position: relative;
                display: flex;
                flex-direction: column;
                .name {
                    display: block;
                    min-width: 200px;
                    overflow-y: auto;
                    padding: 0 20px;
                    color: $blue;
                }
                .date {
                    display: block;
                    min-width: 250px;
                    overflow-y: auto;
                    padding: 0 20px;
                    color: $blue;
                    a {
                        color: #000;
                        text-decoration: underline;
                        text-decoration-color: $blue;
                    }
                }
            }
            .description {
                overflow-y: auto;
                padding: 20px;
            }
        }
    }
}