.signin__page {
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: 'Quicksand';
    overflow: hidden;
    .logo {
        position: relative;
        width: 250px;
        height: 70px;
        margin: auto;
        cursor: pointer;
        z-index: 1;
        transition: all .3s ease;
        transform: scale(1);
        &.active {
            transform: scale(1.6);
        }
        &:hover {
            &>:first-child {
                letter-spacing: 3px;
            }
            &>:last-child {
                letter-spacing: 7px;
            }
        }
        &>:first-child {
            font-weight: 700;
            top: 35px;
            font-size: 32px;
        }
        &>:last-child {
            top: 66px;
            font-size: 20px;
            font-weight: lighter;
            letter-spacing: 5px;
        }
        &>span {
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            margin: auto;
            width: max-content;
            font-family: 'Roboto';
            transition: all .3s ease;
        }
    } 
    .block {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 50%;
        max-width: 300px;
        height: 64px;
        border: #000 2px solid;
        display: flex;
        flex-direction: column;
        z-index: 1;
        transition: all .3s ease;
        overflow: hidden;

        &:not(.active) {
            &:hover {
                cursor: pointer;
                &#signin {
                    transform: translateX(170px) scale(1.05);
                }
                &#signup {
                    transform: translateX(-170px) scale(1.05);
                }
            }
        }
        &#signin {
            transform: translateX(170px);
        }
        &#signup {
            transform: translateX(-170px);
            &>button {
                width: 250px;
            }
        }
        .close {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 20px;
            color: #000;
            opacity: 0;
            cursor: pointer;
        }
        &.active {
            height: 388px;
            &#signin {
                transform: translateX(0);
            }
            &#signup {
                &>.title {
                    margin: 20px auto 10px;
                }
                button {
                    margin: 10px auto 20px;
                }
                width: 80%;
                max-width: 600px;
                height: 470px;
                transform: translateX(0);
            }
            &>.title {
                margin: 30px auto 60px;
            }
            input,
            select  {
                opacity: 1;
            }
            &>button {
                opacity: 1;
            }
            .close {
                opacity: 1;
            }
        }
        &.hide {
            &#signin {
                transform: translateX(300px);
                opacity: 0;
            }
            &#signup {
                transform: translateX(-300px);
                opacity: 0;
            }
        }
        &>.title {
            margin: 20px auto;
            font-weight: 700;
        }
        input,
        select {
            margin: 20px auto;
            background: none;
            border: none;
            border-bottom: $blue solid 2px;
            font-weight: 700;
            width: 80%;
            opacity: 0;
        }
        &>button {
            margin: 60px auto 30px;
            border: #000 2px solid;
            padding: 10px;
            background: none;
            font-weight: 700;
            opacity: 0;
            transition: all .3s ease;
            width: 150px;
            height: 48px;
            &>span {
                display: block;
                transition: all .3s ease;
                overflow: hidden;
                white-space: nowrap;
            }
            &.loading {
                margin-top: 69px;
                width: 30px !important;
                height: 30px;
                animation: spinner 1s infinite cubic-bezier(.65,-1.15,.3,1.5);

                @keyframes spinner {
                    0% {
                        transform: rotate(0);
                    }
                    100% {
                        transform: rotate(90deg);
                    }
                }
                &>span {
                    // transform: scaleX(0);
                    width: 0;
                }
            }
            &:hover {
                transform: scale(1.05);
            }
        }
        .rowSignin {
            display: flex;
            .colSignin {
                display: flex;
                flex-direction: column;
                flex: 1;
            }
        }
    }
    .feuilles {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        transition: transform .3s ease;
        transform: translateY(0);
        &.active {
            transform: translateY(200px);
        }
    }
}