.sponsorship__page {
    min-height: calc(100vh - 250px);
    padding: 10px 250px 100px;
    position: relative;
    .title {
        font-family: 'Quicksand';
        font-size: 36px;
        display: flex;
        button {
            background: none;
            border: 0;
            color: $blue;
            transition: transform .3s ease;
            margin: 0 0 0 auto;
            font-size: 20px;
            line-height: 36px;
            &.active {
                img {
                    transform: translateY(-1px) rotate(45deg);
                }
            }
            &:hover {
                transform: scale(1.1);
            }
            img {
                height: 18px;
                transform: translateY(-1px);
                margin-right: 10px;
                transition: transform .3s ease;
            }
        }
    } 

    .fade-top-enter-active, .fade-top-leave-active {
        transition: all .5s ease;
    }
    .fade-top-enter, .fade-top-leave-to {
        opacity: 0;
        transform: translateY(-50px);
    }

    .search {
        input {
            margin: 20px auto 5px;
            background: none;
            border: none;
            border-bottom: $blue solid 2px;
            font-weight: 700;
            width: 100%;
        }
        .result {
            white-space: nowrap;
            overflow-x: hidden;
            height: 30px;
            span {
                background: $blue;
                font-size: 16px;
                padding: 2px 5px 5px 3px;
                border-radius: 16px;
                margin: 0 5px;
                transition: transform .3s ease;
                cursor: pointer;
                color: #fff;
                img {
                    height: 22px;
                    width: 22px;
                    border-radius: 11px;
                }
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    .parrains {
        border-bottom: 2px solid $blue;
    }
    .users {
        display: flex;
        .user {
            position: relative;
            margin: 20px 20px 70px;
            img {
                height: 140px;
                width: 140px;
                border-radius: 70px;
                border: 2px solid $blue;
            }
            .prenom {
                position: absolute;
                bottom: -25px;
                left: 0;
                right: 0;
                margin: auto;
                text-align: center;
                color: $blue;
            }
            .competence {
                position: absolute;
                bottom: -45px;
                left: 0;
                right: 0;
                margin: auto;
                text-align: center;
            }
        }
    }
}