<template>
  <div class="header">
    <div
      class="logo__menu"
    >
      <div class="logo">
        <span>
          LES AGENTS
        </span>
        <span>
          DU WEB
        </span>
      </div>
      <div class="menu">
        <router-link
          v-if="getLocalStorageRoles.includes('ROLE_AGENT')"
          tag="div"
          to="/projects"
          :class="{ nav: true, active: getRoutePath == '/projects' }"
        >
          ANNONCES
        </router-link>
        <router-link
          v-if="getLocalStorageRoles.includes('ROLE_CLIENT')"
          tag="div"
          to="/ranking"
          class="nav"
          :class="{ nav: true, active: getRoutePath == '/ranking' }"
        >
          CLASSEMENT
        </router-link>
        <router-link
          tag="div"
          to="/profile"
          class="nav"
          :class="{ nav: true, active: getRoutePath == '/profile' }"
        >
          MON ESPACE
        </router-link>
        <router-link
          tag="div"
          to="/signin"
          class="nav"
        >
          SE DECONNECTER
        </router-link>
      </div>
      <div class="border--menu" />
    </div>
    <div
      id="trigger--menu"
      class="feuilles"
    >
      <img src="../../img/headerPrivate.svg">
    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
  computed: {
    getRoutePath() {
      return this.$route.path;
    },
    getLocalStorageRoles() {
      return localStorage.getItem('roles');
    }
  },
  mounted() {
    console.log(localStorage.getItem('roles').includes('ROLE_AGENT'));
    const scene = this.$scrollmagic.scene({
      triggerElement: '#trigger--menu',
      triggerHook: 0,
      duration: 20,
      offset: "80%",
    }).setTween('.border--menu', { 
      css: { 
        height: '2px'
      }
    });
    this.$scrollmagic.addScene(scene);
  },
  methods: {
  }
};
</script>