<template>
  <div class="myspace">
    <div class="title--page">
      MON ESPACE
    </div>
    <div class="menu">
      <router-link
        tag="div"
        to="/finished"
        :class="{ nav: true, active: getRoutePath == '/finished' }"
      >
        Missions réalisées
      </router-link>
      <router-link
        tag="div"
        to="/inprogress"
        class="nav"
        :class="{ nav: true, active: getRoutePath == '/inprogress' }"
      >
        Missions en cours
      </router-link>
      <router-link
        v-if="getLocalStorageRoles.includes('ROLE_AGENT')"
        tag="div"
        to="/sponsorship"
        class="nav"
        :class="{ nav: true, active: getRoutePath == '/sponsorship' }"
      >
        Parrainage
      </router-link>
      <router-link
        tag="div"
        to="/profile"
        class="nav"
        :class="{ nav: true, active: getRoutePath == '/profile' }"
      >
        Mon profil
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "Myspace",
  computed: {
    getRoutePath() {
      return this.$route.path;
    },
    getLocalStorageRoles() {
      return localStorage.getItem('roles');
    }
  },

}
</script>