<template>
  <div class="page">
    <Header v-if="getRoutePath !== '/signin' && getRoutePath !== '/'" />
    <Myspace v-if="getRoutePath == '/finished' || getRoutePath == '/inprogress' || getRoutePath == '/profile' || getRoutePath == '/sponsorship' || getRoutePath == '/cv'" />
    <router-view />
    <Footer v-if="getRoutePath !== '/signin' && getRoutePath !== '/'" />
  </div>
</template>

<script>
import Header from "./components/Header";
import Footer from "./components/Footer";
import Myspace from "./components/Myspace";
import '../scss/app.scss';
// import axios from 'axios';

export default {
  name: "App",
  components: {
    Header,
    Footer,
    Myspace
  },
  computed: {
    getRoutePath() {
      return this.$route.path;
    }
  },
  created() {
  }
}
</script>